name: autolowparts_web
description: AutoLowParts Web на Flutter
publish_to: "none"
version: 1.0.0

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.6
  provider: ^6.0.5
  intl: ^0.19.0


dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
